/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self

 */
 
 /*

* {color: black; }

form * { color: blue; }

label { color: #0D5D79; } 

.field { text-align: center; } 

.actions {text-align: center;}

.new_comentario { margin-right: 44px;}

.hfer {text-align: center;}

#titulo { background-color: #037331;}

#pos { text-align: center;} 

th { background-color: #01077F; }

th { color: #ffffff; }


th:hover {color: #FFAAAA;}

tr { background-color: #B5D6E0; }

tr td:last-child, tr td:nth-child(5), tr td:nth-child(4) { background-color: #01BFE1;}

tr td:nth-child(3) { background-color: #C9D6D6;}

/*
