<p id="notice"><%= notice %></p>

<h1 id="pos">Listado de Articulos</h1>

<table>
  <thead>
    <tr>
      <th> TITULO </th>
      <th> CUERPO </th>
      <th> FECHA </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.cuerpo %></td>
        <td><%= articulo.fecha %></td>
        <td><%= link_to 'Mostrar', articulo %></td>
        <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Articulo nuevo', new_articulo_path %>
 
<ul class= "media-list">
  <li class= "media">A
    <ul>
        <li class= "media">MP4 (2Gb)</li>
        <li class= "media">MP4 (4Gb)</li>
        <li class= "media">MP4 (8Gb)</li>
        <li class= "media">MP4 (16Gb)</li>
    </ul>
  </li>
  <li class= "media">B</li>
  <li class= "media">C</li>
  <li class= "media">D</li>
</ul>


<div class="container">
  
  <div class "row">

   <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
     Un ticket: al enviar la palabra PISTA o cualquier palabra errada o mensaje que no esté configurado como respuesta válida de la promoción.
      </div>
      <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
    Envía la palabra PISTA al 3939 y recibirás un SMS con las pistas de la palabra clave que debes adivinar. Por cada SMS que envíes acumularás tickets electrónicos para participar en el sorteo de cuatro reproductores MP4 y de un teléfono inteligente.
   </div>
    <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
    Cada vez que envíes un SMS contestando una pista, recibirás un mensaje de texto indicando si acertaste la respuesta o no y se te indicarán nuevas pistas dentro del mismo mensaje. La participación será continua hasta tanto tú lo decidas. También podrás responder vía mensaje de texto a las pistas que diariamente se publicarán en la cuenta de Twitter @MovistarVe  
        </div>
   </div>   
  </div>
</div>



